html, body {
    height: 100% !important;
}

#example {
    height: 100%;
    overflow: auto;
}

.element {
    height: 1000px;
    background-color: #ededed;
    font-size: 45px;
    border-top: 1px solid #000;
    padding-top: 55px;
    padding-left: 10px;
}

.active {
    color: red !important;
}
